services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "112233"
      POSTGRES_DB: webwords_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d webwords_db"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - DB_HOST=localhosts
      - DB_NAME=webwords_db
      - DB_USER=postgres
      - DB_PASS=112233
      - DB_PORT=5432
      - N8N_URL=http://n8n:5678/webhook
    depends_on:
      postgres_db:
        condition: service_healthy
    restart: always
    
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
      - NEXT_PUBLIC_API_URL=http://localhost:8000
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n_workflow
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=112233
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=Asia/Bangkok
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      postgres_db:
        condition: service_healthy

volumes:
  postgres_data:
  n8n_data: